# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Igore Xcode files
*.xcodeproj/
*.xcuserdatad/
*.xcschemes/
*.xcworkspace/
*.xcuserdatad/
*.xcworkspacedata
*.xcuserstate
*.pbxproj
*.plist
*.DS_Store
